@import "./normalize"
@import "./typography"

// Root Variables

// Theme Light - CSS
// @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference)
//   \:root
//     --color-absolute-white: #FFFFFF
//     --color-absolute-black: #000000
//
//     --color-base-blur: rgba(255,255,255,0.75)
//
//     --color-base: #FFFFFF
//     --color-base-1: #F7F9FA
//     --color-base-2: #EDEFF0
//
//     --color-base-alt: #000000
//     --color-base-alt-1: #1F2127
//     --color-base-alt-2: #272933
//
//     --color-base-alt-opacity: rgba(0,0,0,0.16)
//
//     --color-typo-emp-1: rgba(0,0,0,0.87)
//     --color-typo-emp-2: rgba(0,0,0,0.6)
//     --color-typo-emp-3: rgba(0,0,0,0.4)
//
//     --color-primary: #DD0000
//     --color-primary-trans-0: rgba(0,111,246, 0.05)
//     --color-primary-trans-1: rgba(0,111,246, 0.1)



// Theme Dark - CSS
@media (prefers-color-scheme: dark), (prefers-color-scheme: light), (prefers-color-scheme: no-preference)
  \:root
    --color-absolute-white: #FFFFFF
    --color-absolute-black: #000000

    --color-base-blur: rgba(0,0,0,0.75)

    --color-base: #000000
    --color-base-1: #0E1015
    --color-base-2: #1F2127

    --color-base-alt: #FFFFFF
    --color-base-alt-1: #F7F9FA
    --color-base-alt-2: #EDEFF0

    --color-base-alt-opacity: rgba(255,255,255,0.16)

    --color-typo-emp-1: rgba(255,255,255,1)
    --color-typo-emp-2: rgba(255,255,255,0.6)
    --color-typo-emp-3: rgba(255,255,255,0.38)

    --color-primary: #DD0000
    --color-primary-trans-0: rgba(0,111,246, 0.05)
    --color-primary-trans-1: rgba(0,111,246, 0.1)


*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  outline-color: var(--color-primary, $color-primary)
  caret-color: var(--color-primary, $color-primary)
  scroll-behavior: smooth
  &::selection
    background-color: var(--color-primary, $color-primary)
    color: var(--color-absolute-white, $color-absolute-white)

.resize-animation-stopper *
  // animation: none !important
  transition: none !important


body
  background-color: var(--color-base, $color-base)
  max-width: 100vw
  overflow-x: hidden
  // min-height: 100vh
  // min-width: 100vw
