@import "../config/vars"


.archiveContentWrapper
  width: 100%
  margin: 0 auto 0 auto
  img
    width: 100%
  .bodyContentWrapper
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr))
    grid-gap: 32px
    width: 100%
    margin: 64px 0
    img
      width: 100%
    .bodyContent
      display: grid
      grid-template-areas: "aside body" "aside footer"
      grid-row-gap: 64px
      .aside
        grid-area: aside
        width: 150px
        p
          margin: 0 0 24px 0
        ul
          list-style: none
          margin: 0
          padding: 0
        ul li, p
          opacity: .25
          transition: opacity 0.25s ease-in-out
          &:hover
            opacity: 1
      .body
        grid-area: body
        width: 100%
        max-width: 500px
        h1
          font-size: 1rem
          font-weight: bold
        .bodyCopy
          margin: 24px 0 0 0
      .footerContent
        grid-area: footer
        width: 100%
        max-width: 500px
        p
          font-weight: bold
        ul
          list-style: none
          margin: 0
          padding: 0
        .production
          margin: 24px 0 0 0
    @media screen and (max-width: 600px)
      margin: 32px 0
      .bodyContent
        grid-template-areas: "body body" "aside footer"
        grid-row-gap: 32px

.gallery
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 16px
  img
    width: 100%
    justify-self: stretch
    align-self: stretch
    object-fit: cover
  img:nth-child(6n+1)
    grid-column: 1 / 3
  img:nth-child(6n+2) 
    grid-column: 3
  img:nth-child(3n)
    grid-column: 1 / 4
    margin: 48px auto
  img:nth-child(6n+4)
    grid-column: 1
  img:nth-child(6n+5)
    grid-column: 2 / 4


@media screen and (max-width: 1000px)
  .archiveContentWrapper
    .bodyContentWrapper
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr))
