@import "../config/vars"

.slider
  position: absolute
  left: 0
  right: 0
  margin: -32px auto calc(32px + 64px) auto
  padding: 0px
  width: 100%
  max-width: calc(100vw - (128px *2))
  box-sizing: border-box
  overflow: 
  .featuredArchive
    margin: 0
    .text
      margin: 16px 0 0 16px
      line-height: 1.25em
    .image
      height: 75vh

.featuredArchive
  width: 100%
  // margin: -32px auto calc(32px + 64px) auto
  margin: 0 auto 64px auto
  text-decoration: none
  color: var(--color-base-alt, $color-base)
  overflow: hidden
  .image
    width: 100%
    height: calc((100vw/16)*9)
    // max-height: calc((100vw/16)*7)
  .text
    margin: 16px 0 0 0
    line-height: 1.25em
    h2, p
      line-height: inherit
    h2
      font-weight: bold
    p
      opacity: 0.6
  &:hover
    .text
      p
        opacity: 1


@media screen and (max-width: 1000px)
  // .featuredArchive
  //   margin: -0 auto 64px auto
  //   .image
  .slider
    margin: -0 auto 64px auto
    max-width: calc(100vw - (64px *2))

@media screen and (max-width: 750px)
  .slider
    margin: -0 auto 64px auto
    max-width: calc(100vw - (32px *2))

@media screen and (max-width: 500px)
  .slider
    margin: -0 auto 64px auto
    max-width: calc(100vw - (16px *2))