@import "../config/vars"

.layoutGrid
  min-height: 100vh
  display: grid
  grid-template-rows: auto 1fr auto
  main
    margin: 0px 128px
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    // height: 3000px

@media screen and (max-width: 1000px)
  .layoutGrid
    main
      margin: 0px 64px

@media screen and (max-width: 750px)
  .layoutGrid
    main
      margin: 0px 32px

@media screen and (max-width: 500px)
  .layoutGrid
    main
      margin: 0px 16px
