@import "../config/vars"

.navigation
  display: grid
  grid-template-columns: 150px 1fr
  padding: 64px 128px 0 128px
  width: 100%
  box-sizing: border-box
  z-index: 100
  ul
    list-style: none
    padding: 0
    margin: 0
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr))
    justify-items: start
    align-items: stretch
    row-gap: 32px
    width: auto
    a
      display: block
      position: relative
      list-style: none
      padding: 0 0 0 24px
      margin: 0 64px 0 0
      max-width: 125px
      height: 80px
      color: var(--color-typo-emp-1, $color-dm-typo-emp-1)
      box-sizing: border-box
      cursor: pointer
      span.line
        position: absolute
        display: block
        width: 1px
        background-color: var(--color-base-alt, $color-base-alt)
        top: 0
        left: 0
        bottom: 0
  .hamburgerOpen, .hamburgerClose
    display: none
    position: absolute
    top: 73.775px
    right: 64px
    max-height: 40px
    max-width: 40px
    height: 40px
    width: 40px
    cursor: pointer
    border-radius: 100%
    margin: 0
    padding: 0
    border: 0
    background: none
    font-size: 0
    outline: none
    svg
      path.path
        fill: var(--color-base-alt, $color-base-alt)
    &:hover
      background-color: transparentize($color-absolute-black, 0.95)
    &:active
      background-color: transparentize($color-absolute-black, 0.9)
  .logo
    width: 78px
    margin: 0
    padding: 0
    height: auto
    svg
      width: 78px
      height: auto
      g
        path
          fill: var(--color-base-alt, $color-base-alt)
@media screen and (max-width: 1920px)
  .navigation
    a
      padding: 0 0 0 24px
      margin: 0 32px 0 0

@media screen and (max-width: 1000px)
  .navigation
    padding: 64px 64px 64px 64px
    background-color: var(--color-base-blur, $color-base-blur)
    backdrop-filter: $filter-blur-glow
    .logo
      width: 40px
      margin: 0
      padding: 0
      height: auto
      svg
        width: 40px
        height: auto
    ul
      display: none
      a
        padding: 0 0 0 8px
        &:hover
          text-decoration: none
          opacity: 0.6
    .hamburgerOpen
      display: block
  .navigation.active
    position: fixed
    display: block
    top: 0
    right: 0
    bottom: 0
    left: 0
    ul
      position: absolute
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: repeat(auto-fit, 84px)
      justify-items: start
      top: 123.55px
      right: 0
      bottom: 0
      left: 0
      width: 100%
      padding: 32px
      padding: 64px
      box-sizing: border-box
      li
        width: 100%
        a
          margin: 0px
          padding: 0px
          width: 100%
          max-width: 100%
          font-size: 2.5rem
          font-weight: 200
          display: flex
          flex-direction: column
          justify-content: center
          span.line
            position: absolute
            display: block
            width: 100%
            height: 1px
            background-color: var(--color-base-alt, $color-base-alt)
            top: auto
            right: 0
            left: 0
            bottom: 0

    .hamburgerClose
      display: block
    .hamburgerOpen
      display: none


@media screen and (max-width: 750px)
  .navigation
    padding: 32px 32px 32px 32px
    .hamburgerOpen, .hamburgerClose
      right: 16px
      top: 41.775px
  .navigation.active
    ul
      padding: 32px


@media screen and (max-width: 500px)
  .navigation
    padding: 32px 16px 32px 16px
    .hamburgerOpen, .hamburgerClose
      right: 8px
      top: 41.775px
  .navigation.active
    ul
      padding: 16px
