@import "../config/vars"

.splashscreen
  position: fixed
  top: 0px
  right: 0px
  bottom: 0px
  left: 0px
  background: pink
  z-index: 1000
  background-color: var(--color-base, $color-base)
  display: flex
  align-items: center
  justify-content: center
  animation: SplashScreen 1.5s ease-in-out 0s 1 normal forwards
  svg
    width: 100px
    height: auto
    g
      path
        fill: var(--color-base-alt, $color-base-alt)



@keyframes SplashScreen 
  0% 
    display: block
    opacity: 1
    z-index: 1000
  70%
    opacity: 1
    z-index: 1000
  99%
    opacity: 0
    display: block
    z-index: 1000
  100%
    opacity: 0
    display: none
    z-index: -1000

